@charset "UTF-8";

div.quadrado {
    border: 1px solid black;
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

div#q1 {
    background-color: skyblue;
    position: initial;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3 {
    background-image: url(imgs/pattern003.png);
}

body {
    background-image: url(imgs/wallpaper002.jpg);
}

div#q3:hover {
    background-image: url(imgs/pattern001.png);
    transition: 0.3s;
}